<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9ZAfI_391wgxW3UwW1ALDwd4kM3f6WGg</string>
	<key>GCM_SENDER_ID</key>
	<string>524859791727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eatoly.eatofood</string>
	<key>PROJECT_ID</key>
	<string>clear-scene-354922</string>
	<key>STORAGE_BUCKET</key>
	<string>clear-scene-354922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524859791727:ios:c072bf383e3c7ae291b09a</string>
</dict>
</plist>